
body {

	background-image: url('http://i.imgur.com/VvNhMb0.jpg');
    background-size: cover;
    background-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.barra {

	display: flex;
    gap: 10;
    padding: 5;
    align-items: center;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 47px;
    width: 100%;
    background-color: blue;
    gap: 7px;
    padding: 3px;
    box-sizing: border-box;

}

.apps-barra {

	display: flex;
	height: 80%;
    align-items: center;
    width: 80%;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    justify-content: space-around;
    


}

.janela {

	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 200px;
    padding: 20px;
    justify-content: space-around;
    background-color: white;
    gap: 10px;
    
    

}

.apps-janela {

	display: flex;
    height: 90%;
    width: 90%;
    background-color: green;
    padding: 5px;

}
