body {

  background-image: url('http://i.imgur.com/VvNhMb0.jpg');
  background-size: cover;
  background-align: center;
  background-repeat: no-repeat;
}

.barra {

  background-image: linear-gradient(bottom, #3452eb, #4866fa, #657ffc);
  position:fixed;
  width: 100vw;
  height:50px;
  bottom:0;
  left:0;


}
