body {

  background-image: url('http://i.imgur.com/VvNhMb0.jpg');
  background-size: cover;
  background-align: center;
  background-repeat: no-repeat;
}

.barra {
  display: flex;
  flex-direcion: column;
  background-image: linear-gradient(#3452eb, #4866fa, #657ffc);
  position:absolute;
  width: 100vw;
  height:50px;
  bottom:0;
  left:0;


}

.apps1 {
  display: flex;
  background-color: green;
  width: 50px;
  height:50px;
  padding:10px;
  items-align: left;
